*{
    margin:0px;
    padding:0px;
    outline:none;
}
.alignment_set{
    padding-top:8%;
    padding-bottom:8%;
    border:25px solid gray;
    margin-top:30px;

}
.border_set{

    text-align:center;
    padding:60px;

}
.btn_width{
    width:170px;
}
.btn_width1{
    width:200px;
}
.border_bottom{
    border-bottom:3px solid gray;
}
.border_washout{
    border:2px solid gray;
    padding-top:30px;

}
.border_bottom1{
    border:2px solid gray;
    padding-left:80px;
    padding-right:80px;
}
.border_set1{
    border:2px solid rgb(23,162,184);
}
.set_alignment1{
    padding-left:50px;
}


/**/
.custom-form-card,
.custom-form-card .card-header{
    border-radius: 0;
}
.custom-form-card .form-group label{
    text-transform: uppercase;    
}
.custom-form-card .form-group .form-control{
    border-radius: 0;
}

.radio-select-type-dv .icheck-primary{
    margin-right: 1.5rem;
}
.radio-select-type-dv .icheck-primary:last-child{margin-right: 0;}

.form-dv,
.table-dv{
    display: none;
}

.bg-blue{background-color: #007bff;}

.reginald-logo{
    margin-left:43%;    
}
.main-svg{
    background: transparent !important;
}
.lead_clr_back{
    background-color:rgb(238,238,238);
    padding:20px;
    margin-top:10px;
    font-weight:bold;
    color:rgba(105, 103, 103, 0.993);
}


.borderless1{
	border:none;
	
}
.back_color_set a:hover{

	color:rgb(231, 174, 174);

}
.back_color_set{
    color:black;
    background-color:rgb(52,58,64);
    padding:5px 0px;

}
.list_dot_remove{
	list-style-type: none;	
}
.list_dot_remove li a:hover{
	background-color:rgb(52,58,64);
	color:rgb(231, 174, 174);

}
.width-set-1{
    font-size:12px;
}
.italic-set{
    font-style: italic;
}
.txt-padd-mar-set{
    /* background-color:#66686b; */
    margin:0px;
}
.txt-padd-mar-set{
    padding:25px 0px 20px 25px;
    /* color:white; */
}
.txt-padd-mar-set h3{
    margin:20px 0px 10px 0px;
    /* color:white; */
}
.social-icon i{
    font-size:20px;
    cursor: pointer;
    padding:15px;
    margin-top:30px;
}
.social-icon i:hover{
  color:#62b1ed;
}
.small-box h3{
    white-space: normal !important;
}

.error{
    color: #f00;
}

/* responsive */
@media (max-width: 1199px){
    .table-dv .card-body{overflow-x: scroll;}
    .table-dv .card-body table{min-width: 900px;}
}
@media (max-width: 767px){
    .radio-select-type-dv .icheck-primary{
        margin-bottom: 1rem !important;
        display: inline-block !important;
    }
}
@media (max-width: 575px){
    .small-box h3{font-size: 1.5rem;}
}

.cotactuscolor{
    background-color:#075F13;
    color:white;
}

.asagent{
    font-style: italic;
    text-transform: lowercase;
    color:gray;
}

.message{
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.popover{
    max-width: 400px!important;
    text-align: center!important;
}

.notes_id{
    background-color:rgb(160, 247, 160);
}